<h1>dashboard</h1>
<p><a href="/draw">お絵かきする</a>
<form action="/upload" method="post" enctype="multipart/form-data">
    ファイル:<br />
    <input type="file" name="file" size="30" value=""/><br/>
    <input type="submit" value="send"/>
</form>
<a href="?r18=true">R18表示</a></p>


<% posts.each do |post| %>
  <div class="post">
    <h2>
      <%= Rack::Utils.escape_html post["title"] %>
    </h2>
    <figure class="post-image">
    <img src="/uploads/<%= post["src"] %>" alt="<%= Rack::Utils.escape_html post["title"] %>">
    <figcaption>  <button class="like" data-id="<%= post["id"] %>">
        <%= post["likes"] %>
      </button></figcaption>

  </figure>
</div>
<% end %>
<script src="/js/dashboard.js"></script>
